[user]
  email = mameto_100@mail.bg
  name = "Charlike Mike Reagent"
  user = tunnckoCore

[push]
  default = simple

[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit