[user]
	email = mamemto_100@mail.bg
	name = tunnckoCore
[push]
	default = simple

[alias]
        tac = !npm test && git add -A && git commit -m
	ac = !git add -A && git commit -m
	tr = !npm test && git release
	gct = !gitclone tunnckoCore/coreflow-templates
