_auth=dHVubmNrb2NvcmU6MzUwNzI0MzA4NjExNDI5MA==
//registry.npmjs.org/:_password=MzUwNzI0MzA4NjExNDI5MA==
//registry.npmjs.org/:username=tunnckocore
//registry.npmjs.org/:email=mameto_100@mail.bg
email=mameto_100@mail.bg
