[Desktop Entry]
Name=LXPanel
Comment=Custom LXPanel
Keywords=shell;lx;lxpanel;lxde;
TryExec=lxpanel
Exec=lxpanel 
Icon=utilities-terminal
Type=Application
